<template id="list-template">
  <div class="box">
    <ul class="products-list">
      <li class="products-description">
        <h2 class="products-name">{{name}}</h2>
        <p class="products-description">{{description}}</p>
          <p class="products-price">{{price}}</p>
      </li>
    </ul>
  </div>
</template>